<mat-card>
    <mat-spinner *ngIf="estaCarregando"></mat-spinner>
    <!-- template-driven form -->
    <!-- reactive form -->
    <form [formGroup]="form"(submit)="onSalvarCliente()" *ngIf="!estaCarregando">

        <mat-form-field appearance="fill">
            <mat-label>Digite o nome</mat-label>
            <input 
                matInput 
                type="text" 
                name="nome"
                formControlName="nome"                
                #nomeInput>  
            <button
                *ngIf="nomeInput.value"
                matSuffix 
                mat-icon-button 
                (click)="nomeInput.value=''">        
                <mat-icon>close</mat-icon>        
            </button>
            <mat-error>Digite um nome válido</mat-error>  
        </mat-form-field>

        <div>
            <button mat-stroked-button type="button" (click)="selecionaArquivo.click()">Selecionar Imagem</button>
            <input type="file" (change)="onImagemSelecionada($event)" #selecionaArquivo>
        </div>

        <div class="imagem-preview">
            <img 
                [src]="previewImagem" 
                [alt]="form.value.nome" 
                *ngIf="previewImagem && previewImagem !== '' && form.get('imagem').valid">
        </div>
        
        <mat-form-field appearance="fill">
            <mat-label>Digite o fone</mat-label>
            <input 
                matInput 
                type="text" 
                name="fone"
                formControlName="fone"
                #foneInput>
            <button
                *ngIf="foneInput.value"
                matSuffix
                mat-icon-button
                (click)="foneInput.value=''">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error>Digite um telefone válido</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Digite o e-mail</mat-label>
            <input 
                matInput 
                type="text" 
                name="email"
                formControlName="email"
                #emailInput>
            <button
                *ngIf="emailInput.value"
                matSuffix
                mat-icon-button
                (click)="emailInput.value=''">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error>Digite um e-mail válido</mat-error>
        </mat-form-field>
        
        <button 
                color="accent" 
                mat-raised-button>
            Salvar cliente
        </button>
    </form>

</mat-card>